@model Models.Section

@{
    ViewBag.Title = "New section";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Section", FormMethod.Post, new {enctype = "multipart/form-data"})) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Section</legend>

        @Html.EditorForModel()    

        <p>
            Section avatar: <input type="file" name="avatar" />
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
