@model IEnumerable<Mvc.ViewModels.TopicViewModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {sectionId = ViewBag.SectionId})
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td class="element">
                @Html.ActionLink(string.Format("{0} ({1})", item.Title, item.RecordCount), "List", "Record", 
                                 new {sectionId = ViewBag.SectionId, topicId = item.Id}, 
                                 new {@class = "element-title"})
            </td>
            <td>
                @Html.ActionLink("Remove", "Remove", new { id=item.Id })
            </td>
        </tr>
    }

</table>
