html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#content-wrapper {
    padding: 50px 0;
}

header, footer {               
    position: fixed;
    width: 100%;
    padding: 0;
}

header {
    top: 0;
    height: 50px;
}

footer {   
    background-color: #e2e2e2;
    font-size: .8em;
    bottom: 0;
    height: 50px;
    text-align: center;     
}

td.element {
    width: 200px;
    background-color: gainsboro;
}

.element-title {
    color: black;
    display: block;
}

.section-avatar {
    float: left;
}

.login-menu {
    float: right;
}

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
    border-top: 1px solid black;
}

.table-row:last-child {
    border-bottom: 1px solid black;
}

.table-cell-user, .table-cell-record {
    display: table-cell;
}

.table-cell-user {
    width: 20%
}

.table-cell-record {
    width: 80%
}