html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content-wrapper {
    padding: 0 15px;
}

footer {               
    position: fixed;
    width: 100%;
    padding: 0;
    background-color: #e2e2e2;
    bottom: 0;
    height: 50px;   
}

footer p {   
    font-size: 14px;
    text-align: center;     
    padding: 15px;
    border-top: 1px solid #d4d4d4;
}

.new-section-btn {
    float: right;
}

.element {
    padding-bottom: 15px;
}

.element-title {
    display: inline-block;
    width: 200px;
    font-size: 14px;
}

.edit-btns {
    display: inline-block;
}

.section-avatar {
    float: left;
}

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}


td.element {
    width: 200px;
    background-color: gainsboro;
}

.table-row {
    display: table-row;
    border-top: 1px solid black;
}

.table-row:last-child {
    border-bottom: 1px solid black;
}

.table-cell-user, .table-cell-record {
    display: table-cell;
}

.table-cell-user {
    width: 20%
}

.table-cell-record {
    width: 80%
}

.record-edit {
    float: right;
    margin-right: 10px;
}