<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <add name="ForumConnection" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Forum; Integrated Security=SSPI; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>