@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1>Error.</h1>
    <h2>An error occurred while processing your request.</h2>
    <h3>@Model.ActionName</h3>
    <h3>@Model.ControllerName</h3>
    <h3>@Model.Exception.Message</h3>
</hgroup>
