@model IEnumerable<Models.Record>

@{
    ViewBag.Title = "Records";
}

<h2>Records</h2>

<div class="table">
    @foreach (var item in Model) 
    {
        @Html.Partial("RecordPartial", item)
    }
</div>

@Html.Partial("NewRecordPartial")

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}