@using Models
@using PagedList
@using PagedList.Mvc
@model Mvc.ViewModels.RecordsViewModel

@{
    ViewBag.Title = "Records";
}

<h2>Records</h2>

<div class="table">
    @foreach (var item in Model.Records) 
    {
        @Html.Partial("RecordPartial", item)
    }
</div>

@Html.PagedListPager(Model.Records, page => Url.Action("List", new { page }))

@Html.Partial("NewRecordPartial")

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}