<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="MONGOLAB_URI" value="mongodb://appharbor_c717f8e9-4daf-4dfe-89c9-76933e1b68cd:dngs6u4v0k8nelai4dmqj33ddq@ds035907.mongolab.com:35907/appharbor_c717f8e9-4daf-4dfe-89c9-76933e1b68cd" />
    <add key="MongoDB" value="appharbor_c717f8e9-4daf-4dfe-89c9-76933e1b68cd" />
    <add key="Auth" value="__auth" />
  </appSettings>
  <connectionStrings>
    <add name="ForumConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Integrated Security=SSPI;MultipleActiveResultSets=True;AttachDBFilename=|DataDirectory|\ZZZZZ.mdf" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>